<style type="text/css">
#sapn{

}
#contain{
 	overflow: hidden;
 	margin: 0 auto;
}
#header{
	background: #FFFFFF;
    
}
#menu{
	text-decoration: none;
}
#menu li{
	float: left;
	margin: 10px;
}
#menu li a{
	text-decoration: none;
	display: block;
	padding: 8px 50px;
}
#menu li a:hover{
	background: red;
}
#top{

}
#maincontain{

}
#left{

}
#right{

}
#center{

}
#footer{

}
.icon-search:before {
    content: "\e610";
}
body{
background-image: url(../imgs/505.jpg);
background-repeat: no-repeat;
}
.center1{
	margin: 0 auto;
}
.cp{
	margin-top: 200px;
	color: #0f0f0f;
	font-size: 15px;
	text-align: right;
	background-color: #dcb5ff;
}
.cp tr td input{
	border-top: 0;
	border-right: 0;
	border-left: 0;
	border-bottom: 1px solid #ff0080;
	outline-style: none;
	padding-top: 5px;
}
.jl{
	margin-top: 10px;
}
.jz{
	font-size: 12px;
	margin-right: 20px;
}
.pd{
	padding-right: 100px;
}
#bt{
	border:2px solid #57bc4c;;
	color: #d200d2;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
input:required:invalid{
	border-color: red;
}
input:required:valid{
	border-color: green;
}

</style>